<div class="header">
        <div class="header__main">
            <div class="container">
                <div class="row d-flex justify-content-between align-items-center">
                    <!--mobile-->
                    <div class="d-sm-none mobile--container">
                        <div class="left-bar">
                            <div class="menu-icon">
                                <a href="javascript:void(0)" class="js-trigger-collapse-menu">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve"><g><g><path d="M483.8,122.7H16.2c-7.2,0-13-5.8-13-13c0-7.2,5.8-13,13-13h467.6c7.2,0,13,5.8,13,13C496.8,116.9,491,122.7,483.8,122.7z"/></g><g><path d="M483.8,263H16.2c-7.2,0-13-5.8-13-13s5.8-13,13-13h467.6c7.2,0,13,5.8,13,13S491,263,483.8,263z"/></g><g><path d="M483.8,403.3H16.2c-7.2,0-13-5.8-13-13s5.8-13,13-13h467.6c7.2,0,13,5.8,13,13S491,403.3,483.8,403.3z"/></g></g></svg>
                                </a>
                            </div>
                            <div class="search-icon">
                                <a href="javascript:void(0)" class="js-trigger-collapse-menu">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve"><g><g><path d="M490.9,418.8l-149-149c14.2-25.9,22.3-55.6,22.3-87.1C364.2,82.5,282.7,1,182.6,1S1,82.5,1,182.6c0,100.1,81.5,181.6,181.6,181.6c31.6,0,61.3-8.1,87.1-22.3l149,149c5.4,5.4,12.5,8.1,19.6,8.1c7.1,0,14.2-2.7,19.6-8.1l33-33C501.7,447.1,501.7,429.5,490.9,418.8z M24.9,182.6c0-87,70.8-157.7,157.7-157.7s157.7,70.8,157.7,157.7c0,87-70.8,157.7-157.7,157.7S24.9,269.6,24.9,182.6z M474,441l-33,33c-1.5,1.5-3.9,1.5-5.4,0L290.4,328.8C305,318,318,305,328.8,290.4L474,435.6C475.5,437.1,475.5,439.5,474,441z"/></g><g><path d="M313.9,186.1c0-74.8-60.8-135.6-135.6-135.6c-6.6,0-11.9,5.3-11.9,11.9c0,6.6,5.3,11.9,11.9,11.9c61.6,0,111.8,50.1,111.8,111.8c0,6.6,5.3,11.9,11.9,11.9C308.5,198,313.9,192.7,313.9,186.1z"/></g></g></svg>
                                </a>
                            </div>
                        </div>
                        <a href="/" class="logo">
                            <img src="{{ site.theme.link }}/src/asset/img/logos/saye-logo.svg" alt="sayemodest">
                        </a>
                        <div class="right-bar">
                            <div class="login-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M313.6 288c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4zM416 464c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16v-41.6C32 365.9 77.9 320 134.4 320c19.6 0 39.1 16 89.6 16 50.4 0 70-16 89.6-16 56.5 0 102.4 45.9 102.4 102.4V464zM224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm0-224c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z"></path></svg>
                            </div>
                            <div class="basket-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M352 128C352 57.421 294.579 0 224 0 153.42 0 96 57.421 96 128H0v304c0 44.183 35.817 80 80 80h288c44.183 0 80-35.817 80-80V128h-96zM224 32c52.935 0 96 43.065 96 96H128c0-52.935 43.065-96 96-96zm192 400c0 26.467-21.533 48-48 48H80c-26.467 0-48-21.533-48-48V160h64v48c0 8.837 7.164 16 16 16s16-7.163 16-16v-48h192v48c0 8.837 7.163 16 16 16s16-7.163 16-16v-48h64v272z"></path></svg>
                            </div>
                        </div>
                    </div>
                    <!--mobile-->
                    <div class="col-4 col-sm-2 header__logo d-none d-sm-block">
                        <a href="/">
                            <img src="{{ site.theme.link }}/src/asset/img/logos/saye-logo.svg" alt="sayemodest">
                        </a>
                    </div>
                    <div class="col-8 col-sm-7 d-none d-sm-block header__search d-none d-sm-block">
                        <form class="form-inline w-100">
                            <input class="form-control w-100" type="search" placeholder="&nbsp;&#xF002; Ürün ya da kategori ara..."
                                aria-label="Ürün ya da kategori ara...">
                        </form>
                    </div>
                    <div class="col-8 col-sm-3 header__user-nav">
                       <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M462.3 62.7c-54.5-46.4-136-38.7-186.6 13.5L256 96.6l-19.7-20.3C195.5 34.1 113.2 8.7 49.7 62.7c-62.8 53.6-66.1 149.8-9.9 207.8l193.5 199.8c6.2 6.4 14.4 9.7 22.6 9.7 8.2 0 16.4-3.2 22.6-9.7L472 270.5c56.4-58 53.1-154.2-9.7-207.8zm-13.1 185.6L256.4 448.1 62.8 248.3c-38.4-39.6-46.4-115.1 7.7-161.2 54.8-46.8 119.2-12.9 142.8 11.5l42.7 44.1 42.7-44.1c23.2-24 88.2-58 142.8-11.5 54 46 46.1 121.5 7.7 161.2z"/></svg>
                            <span class="text">Favorilerim</span>
                        </a>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M313.6 288c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4zM416 464c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16v-41.6C32 365.9 77.9 320 134.4 320c19.6 0 39.1 16 89.6 16 50.4 0 70-16 89.6-16 56.5 0 102.4 45.9 102.4 102.4V464zM224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm0-224c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z"/></svg>
                            <span class="text">Hesabım</span>
                        </a>
                        <a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M352 128C352 57.421 294.579 0 224 0 153.42 0 96 57.421 96 128H0v304c0 44.183 35.817 80 80 80h288c44.183 0 80-35.817 80-80V128h-96zM224 32c52.935 0 96 43.065 96 96H128c0-52.935 43.065-96 96-96zm192 400c0 26.467-21.533 48-48 48H80c-26.467 0-48-21.533-48-48V160h64v48c0 8.837 7.164 16 16 16s16-7.163 16-16v-48h192v48c0 8.837 7.163 16 16 16s16-7.163 16-16v-48h64v272z"/></svg>
                            <span class="text">Sepetim</span>
                        </a>
                        <a href="javascript:void(0)" class="js-trigger-collapse-menu">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M442 114H6a6 6 0 0 1-6-6V84a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6z"/></svg>
                            <span class="text">Menü</span>
                        </a>


                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-2">
            <div class="row">
                <div class="col">
                    <ul class="header__menu nav nav-pills nav-fill js-collapse-menu">
                        <li class="mobile-search d-block d-sm-none border-bottom">
                           {% include 'partial/search-form.twig' %}
                        </li>
                    
                       {# {% for cat in categories %}                   
                            {% set new_name =  cat == active_page  ? 'active-link ' : '' %}
                            <li class="nav-item"> <a class="nav-link {{ new_name }}" href="category.php?cat='{{cat}}">{{cat}}</a> </li>
                        {% endfor %} #}
                          {% if header_menu %}
                                    {% for peritem in header_menu.items %}
                                        <li class="nav-item">
                                            <a class="{{ peritem.class }}" href="{{ peritem.url }}">{{ peritem.title }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                 
                    </ul>
                </div>
            </div>
        </div>
    </div>